DATABASE_URL=postgres://todo:<password>@localhost:5432/todo
TEST_DATABASE_URL=postgres://todo:<password>@localhost:5432/todo_test
PORT=3000

# Docker Compose vars (required when using docker compose up)
POSTGRES_PASSWORD=<password>
POSTGRES_DB=todo
POSTGRES_USER=todo
